{% load static %}
<nav class="navbar default-layout bg-success col-lg-12 col-12 fixed-top d-flex flex-row">
    <div class="text-left navbar-brand-wrapper d-flex align-items-top justify-content-center bg-dark rounded-left">
        <figure class="display-6 m-auto">
            <img class="mr-4 pr-4" src="{% static 'hrms/images/gmlogo.jpg' %}" alt="logo" width="100%" height="62px"
                 style="border-radius:10%;">
        </figure>
        <h3 class="m-auto text-center text-white pl-5">JV HRM</h3>
        <a class="navbar-brand brand-logo-mini" href="{% url 'management:dashboard' %}">
            {% if user.thumb %}
            <img src="{{user.thumb.url}}"/>
            {% else %}
            <img src="{% static 'user/img.png' %}"/>
            {% endif %}
        </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center bg-dark">
        <ul class="navbar-nav navbar-nav-right">
            <h3 class="my-4 text-success pr-4">
                <marquee>
                    <span class="text-danger text-left">Gokhan </span>& <span class="text-primary">Masterspace</span>
                    Joint Ventures Ltd
                </marquee>
            </h3>
            <li class="nav-item dropdown d-none d-xl-inline-block">

                <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown"
                   aria-expanded="false">
                    <span class="profile-text"> Hello, {{user.username | upper }} ! </span>
                    {% if user.thumb %}
                    <img class="img-xs rounded-circle" src=" {{user.thumb.url}} " alt="Profile image">
                    {% else %}
                    <img class="img-xs rounded-circle" src="{% static 'user/img.png' %}"/>
                    {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                    {% comment %} <a class="dropdown-item p-0">
                    <div class="d-flex border-bottom">
                        <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                            <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                        </div>
                        <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                            <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                        </div>
                        <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                            <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                        </div>
                    </div>
                </a> {% endcomment %}
                    {% comment %} <a class="dropdown-item mt-2">
                    Manage Accounts
                </a>
                    <a class="dropdown-item">
                        Change Password
                    </a>
                    <a class="dropdown-item">
                        Check Inbox
                    </a> {% endcomment %}
                    <a class="dropdown-item" href="{% url 'management:logout' %}">
                        Log Out
                    </a>
                </div>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>