<nav class="sidebar sidebar-offcanvas bg-success" id="sidebar" >
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <div class="profile-image">
                  <img src="{{user.thumb.url}}" width="90%" style="border-radius:50%;">
                </div>
                <div class="text-wrapper">
                  <p class="profile-name">{{user.username | upper}} </p>
                  <div>
                    <small class="designation text-muted">online</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>
              <a href="{% url 'management:employee_new' %}" class="btn btn-primary btn-block">New Staff
                <i class="mdi mdi-plus"></i>
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'management:dashboard' %}">
              <i class="fa  fa-dashboard"></i>
              <span class="menu-title">&emsp;Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'management:attendance_new' %}">
              <i class="fa fa-calendar"></i>
              <span class="menu-title">&emsp;Attendance</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'management:leave_new' %}">
              <i class="fa fa-sign-out "></i>
              <span class="menu-title">&emsp;Leave</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="fa fa-folder "></i>
              <span class="menu-title">&emsp;Department</span>
              <i class="menu-arrow"></i>
            </a>
              <a class="nav-link" href="{% url 'management:dept_new' %}"><i class="fa fa-plus"></i>&emsp;New Department</a>
              
            <hr>

            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
              {% for dept in depts  %}
                <li class="nav-item">
                  <a class="nav-link" href="{{dept.get_absolute_url}}">{{dept.name}}</a>
                </li>
              {% endfor %}
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-employees" aria-expanded="false" aria-controls="ui-employees">
              <i class="fa fa-user text-dark"></i>
              <span class="menu-title">&emsp;Employees</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-employees">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'management:employee_all' %}">Employee List</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'management:advance' %}">Cash Advance</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'management:recruitmentall' %}">
              <i class="fa fa-database"></i>
              <span class="menu-title">&emsp;Recruitment</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'management:deductions' %}">
              <i class="fa fa-usd"></i>
              <span class="menu-title">&emsp;Deductions</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'management:payroll' %}">
              <i class="fa fa-usd"></i>
              <span class="menu-title">&emsp;Payroll</span>
            </a>
          </li>

          {% comment %} <li class="nav-item">

          <li class="nav-item">
            <a class="nav-link" href="pages/icons/font-awesome.html">
              <i class="fa  fa-gears"></i>
              <span class="menu-title">&emsp;Settings</span>
            </a>
          </li> {% endcomment %}
        </ul>
      </nav>